body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#steam-user-display article {
    display: flex;
    width: 300px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid black;
    justify-content: flex-start;
}

#steam-user-display p {
    margin: 0;
    align-self: flex-start;
}

#steam-user-display a {
    text-decoration: none;
}

#steam-user-display img {
    height: 100%;
    flex-grow: 0;
    margin-left: 10px;
}

#steam-user-games-display {
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    padding: 0;
}

#steam-user-games-display li {
    border: 1px solid black;
    flex-basis: 25%;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#steam-user-games-display div {
    display: flex;
    align-items: flex-start;
}

#steam-user-games-display .logo {
    /* flex-grow: 0; */
    width: 100%;
}

#steam-user-games-display .title-div {
    margin: 0;
}